@media all and (orientation: portrait) {
  :host, weather-widget-number-one-prototype {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  widget-display {
    order: 1;
  }
  header {
    order: 2;
    overflow-y: scroll;
  }
}
@media all and (orientation: landscape) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
  }
}
header.hideMenu {
  transform: translateX(-100%);
}
header {
  font-family: Roboto, sans-serif;
  transition: transform .5s ease;
  color: #000;
  background: #DFDFDF;
  padding: 16px;
}
