<input *ngIf="!addingNew" type=button value=New (click)="new()">
<input type=button value="TODO Copy from Existing">
<input type=button value=Cancel (click)="cancel()">
<div *ngIf="addingNew">


  <!-- WHERE DO I PUT SAVE AND CANCEL -->
  <input type=button value=Save (click)="save()">


  <div class=list-group>


    <!-- THEME NAME -->
    <div [class.active]="showThemeName" class=list-group-item>
      <div (click)="showThemeName = true">
        <h4 class=list-group-item-heading>Theme Name</h4>
        <p class=list-group-item-text><span [hidden]="theme.name">Enter the name of your theme.</span>{{theme.name}}</p>
      </div>
      <div [hidden]="!showThemeName">
        <input class="form-control" type=text [(ngModel)]="theme.name" placeholder="Theme Name" required>
        <input class="btn btn-success" type=button value=Save (click)="showThemeName = false">
        <input class="btn btn-default" type=button value=Cancel (click)="showThemeName = false">
      </div>
    </div>


    <!-- WIDGET TYPE -->
    <div [class.active]="showWidgetType" class=list-group-item>
      <div (click)="showWidgetType = true">
        <h4 class=list-group-item-heading>Widget Type</h4>
        <p class=list-group-item-text>{{WidgetType[theme.widgetType]}}</p>
      </div>
      <div [hidden]="!showWidgetType">
        <div class=input-group>
          <div class="radio">
            <label>
              <input type="radio" name="type" (change)="refresh(theme.widgetType = WidgetType.Hourly)" [checked]="theme.widgetType === WidgetType.Hourly" [value]="WidgetType.Hourly"> Hourly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" (click)="refresh(theme.widgetType = WidgetType.Daily)" [checked]="theme.widgetType === WidgetType.Daily" [value]="WidgetType.Daily"> Daily
            </label>
          </div>
        </div>
        <div>
          <input class="btn btn-success" type=button value=Done (click)="showWidgetType = false">
          <input class="btn btn-default" type=button value=Cancel (click)="showWidgetType = false">
        </div>
      </div>
    </div>


    <!-- DEFAULT THEME SETTINGS -->
    <div class=list-group-item>
      <div (click)="showDefaultThemeSettings = true">
        <h4 class=list-group-item-heading>Default Theme Settings</h4>
        <p class=list-group-item-text>Click to set values that are used by default for dots and segments.</p>
      </div>
      <default-theme-settings (refreshed)="refresh()" [default]="theme.globals" [hidden]="!showDefaultThemeSettings"></default-theme-settings>
    </div>


  </div>


  <!-- TODO Move this to the 'config' menu, i.e., with forecast.io stuff -->
  <!-- <div class="form-group row">
      <div class=col-xs-5>Widget Dimension Ratio: {{graph.widgetRatio}}</div>
      <div class=col-xs-7>
        <input #gWidDimRat (input)="refresh(graph.widgetRatio = gWidDimRat.value)" [value]=graph.widgetRatio type=range min=".1" max=5 step=".2" class=form-control>
      </div>
    </div> -->

  <boolean-picker [title]="'Daylight Visibility'" [subtitle]="'Show daylight/cloud coverage?'" [value]="theme.daylight" (updated)="updateDaylight($event)"></boolean-picker>
  <color *ngIf="theme.daylight" [color]="theme.daylight" [showalpha]="false" (refreshed)="refresh(theme.daylight = $event)" [title]="'Daylight Color'"></color>


  <weather-property-picker [properties]="theme.options" (refreshed)="refresh()"></weather-property-picker>

  <div class=list-group *ngFor="#p of theme.options">
    <div class=list-group-item>
      <div (click)="showWPS = true">
        <h4 class=list-group-item-heading>{{p.title}}</h4>
        <p class=list-group-item-text>Click to set values that are used.</p>
      </div>
      <weather-property-settings (refreshed)="refresh()" [default]="theme.globals" [property]="p" [hidden]="!showWPS"></weather-property-settings>
    </div>
  </div>


</div>
