<div class=list-group-item>
  <div (click)="showWeatherPropertyPicker = true">
    <h4 class=list-group-item-heading>Weather Properties</h4>
    <p class=list-group-item-text>Choose the weather properties to show on the widget.</p>
  </div>
  <div [hidden]="!showWeatherPropertyPicker">

    <boolean-picker *ngFor="#opt of _properties" [title]="opt.displayTitle" [subtitle]="opt.summary" [value]="false" (updated)="refresh(opt, $event)"></boolean-picker>

    <input class="btn btn-success" type=button value=Done (click)="showWeatherPropertyPicker = false">
    <input class="btn btn-default" type=button value=Cancel (click)="showWeatherPropertyPicker = false">
  </div>
</div>



<!-- <div class=btn-group style="margin:5px">
    <input type=button class="btn btn-default" value=Daylight>
    <input type=button class="btn btn-primary" value=+ (click)="addDaylight()" *ngIf="!theme.daylight">
    <input type=button class="btn btn-danger" value=- (click)="removeDaylight()" *ngIf="theme.daylight">
    <color *ngIf="theme.daylight" [color]="theme.daylight" (refreshed)="refresh(theme.daylight = $event)" [title]="'Daylight Color'" [showalpha]="false"></color>
  </div>

  <div>Theme Options:</div>
  <div class=btn-group style="margin:5px" *ngFor="#opt of theme.options">
    <input type=button class="btn btn-default" [value]="opt.title">
    <input type=button class="btn btn-danger" value="-" (click)=remove(opt)>
  </div>


  <div>Available Options:</div>
  <div class=btn-group style="margin:5px" *ngFor="#opt of availableOptions">
    <input type=button class="btn btn-default" [value]="opt.title">
    <input type=button class="btn btn-primary" value="+" (click)=add(opt)>
  </div> -->
