body {
  margin: 0;
  background: #000;
}
seven-segment-clock {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
clock, digit, canvas {
  display: inline-block;
}
