<input *ngIf="!addingNew" type=button value=New (click)="new()">
<input type=button value="TODO Copy from Existing">
<div *ngIf="addingNew">


  <!-- WHERE DO I PUT SAVE AND CANCEL -->
  <input type=button value=Save (click)="save()">
  <input type=button value=Cancel (click)="addingNew = false">


  <div class=list-group>


    <!-- THEME NAME -->
    <div [class.active]="showThemeName" class=list-group-item>
      <div (click)="showThemeName = true">
        <h4 class=list-group-item-heading>Theme Name</h4>
        <p class=list-group-item-text><span [hidden]="theme.name">Enter the name of your theme.</span>{{theme.name}}</p>
      </div>
      <div [hidden]="!showThemeName">
        <input class="form-control" type=text [(ngModel)]="theme.name" placeholder="Theme Name" required>
        <input class="btn btn-success" type=button value=Save (click)="showThemeName = false">
        <input class="btn btn-default" type=button value=Cancel (click)="showThemeName = false">
      </div>
    </div>


    <!-- WIDGET TYPE -->
    <div [class.active]="showWidgetType" class=list-group-item>
      <div (click)="showWidgetType = true">
        <h4 class=list-group-item-heading>Widget Type</h4>
        <p class=list-group-item-text>{{WidgetType[theme.widgetType]}}</p>
      </div>
      <div [hidden]="!showWidgetType">
        <div class=input-group>
          <div class="radio">
            <label>
              <input type="radio" name="type" (change)="refresh(theme.widgetType = WidgetType.Hourly)" [checked]="theme.widgetType === WidgetType.Hourly" [value]="WidgetType.Hourly"> Hourly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" (click)="refresh(theme.widgetType = WidgetType.Daily)" [checked]="theme.widgetType === WidgetType.Daily" [value]="WidgetType.Daily"> Daily
            </label>
          </div>
        </div>
        <div>
          <input class="btn btn-success" type=button value=Done (click)="showWidgetType = false">
          <input class="btn btn-default" type=button value=Cancel (click)="showWidgetType = false">
        </div>
      </div>
    </div>


    <div class=list-group-item>
      <div (click)="showDefaultThemeSettings = true">
        <h4 class=list-group-item-heading>Default Theme Settings</h4>
        <p class=list-group-item-text>Click to set values that are used by default for dots and segments.</p>
      </div>
      <default-theme-settings (refreshed)="refresh()" [default]="theme.globals" [hidden]="!showDefaultThemeSettings"></default-theme-settings>
    </div>


  </div>


  <!-- TODO Move this to the 'config' menu, i.e., with forecast.io stuff -->
  <!-- <div class="form-group row">
      <div class=col-xs-5>Widget Dimension Ratio: {{graph.widgetRatio}}</div>
      <div class=col-xs-7>
        <input #gWidDimRat (input)="refresh(graph.widgetRatio = gWidDimRat.value)" [value]=graph.widgetRatio type=range min=".1" max=5 step=".2" class=form-control>
      </div>
    </div> -->


  <div class=btn-group style="margin:5px">
    <input type=button class="btn btn-default" value=Daylight>
    <input type=button class="btn btn-primary" value=+ (click)="addDaylight()" *ngIf="!theme.daylight">
    <input type=button class="btn btn-danger" value=- (click)="removeDaylight()" *ngIf="theme.daylight">
    <color *ngIf="theme.daylight" [color]="theme.daylight" (refreshed)="refresh(theme.daylight = $event)" [title]="'Daylight Color'" [showalpha]="false"></color>
  </div>

  <div>Theme Options:</div>
  <div class=btn-group style="margin:5px" *ngFor="#opt of theme.options">
    <input type=button class="btn btn-default" [value]="opt.title">
    <input type=button class="btn btn-danger" value="-" (click)=remove(opt)>
  </div>


  <div>Available Options:</div>
  <div class=btn-group style="margin:5px" *ngFor="#opt of availableOptions">
    <input type=button class="btn btn-default" [value]="opt.title">
    <input type=button class="btn btn-primary" value="+" (click)=add(opt)>
  </div>


  <!-- <div class="panel panel-default">
  <div class="panel-heading" (click)="show= !show">
    <span [class.down]="!show" [class.up]="show"></span> Global Default Settings
  </div>
  <div class="panel-body" [class.hide]="!show">

    <div class=row>
      <div class=col-xs-5>Widget Type</div>
      <div class=col-xs-7>
        <div class="radio-inline">
          <label>
            <input type="radio" name="type" (change)="refresh(theme.global.type = 'h')" [checked]="theme.global.type === 'h'" value="h" checked> Hourly
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="type" (click)="refresh(theme.global.type = 'd')" [checked]="theme.global.type === 'd'" value="d" checked> Daily
          </label>
        </div>
      </div>
    </div>

    <div class=row>
      <div class=col-xs-5>Option Visibility</div>
      <div class="checkbox-inline col-xs-7">
        <label>
          <input type=checkbox #u (change)="refresh(theme.global.show.value = u.checked)" [checked]=theme.global.show.value> Show?
        </label>
      </div>
    </div>

    <div class="form-group form-inline row">
      <div class=col-xs-5>Dot Radius: {{theme.global.dot.radius.value}}</div>
      <div class=col-xs-7>
        <input #a (input)="refresh(theme.global.dot.radius.value = a.value)" [value]=theme.global.dot.radius.value type=range min=1 max=20 step=1 class=form-control>
      </div>
    </div>
    <div class=form-group>
      <color [color]="theme.global.dot.color.value" (refreshed)="refresh(theme.global.dot.color.value = $event)" [title]="'Dot Color'"></color>
    </div>

    <div class=row>
      <div class=col-xs-5>Segment Visibility</div>
      <div class="checkbox-inline col-xs-7">
        <label>
          <input type=checkbox #t (change)="refresh(theme.global.segment.show.value = t.checked)" [checked]=theme.global.segment.show.value> Show?
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class=col-xs-5>Segment Width Angle: {{theme.global.segment.angle.value}}</div>
      <div class=col-xs-7><input #b (input)="refresh(theme.global.segment.angle.value = b.value)" [value]=theme.global.segment.angle.value type=range min=0 max=90 step=1 class=form-control></div>
    </div>
    <div class="form-group row">
      <div class=col-xs-5>Segment Padding: {{theme.global.segment.padding.value}}</div>
      <div class=col-xs-7><input #c (input)="refresh(theme.global.segment.padding.value = c.value)" [value]=theme.global.segment.padding.value type=range min=0 max=10 step=1 class=form-control></div>
    </div>
    <div class="form-group">
      <color [color]="theme.global.segment.color.value" (refreshed)="refresh(theme.global.segment.color.value = $event)" [title]="'Segment Color'"></color>
    </div>
    <div class="form-group row">
      <div class=col-xs-5>Widget Dimension Ratio: {{graph.widgetRatio}}</div>
      <div class=col-xs-7>
        <input #f (input)="refresh(graph.widgetRatio = f.value)" [value]=graph.widgetRatio type=range min=".1" max=5 step=".2" class=form-control>
      </div>
    </div>
  </div>
</div>




<div class="panel panel-default" *ngFor="#opt of theme.options">
  <div class="panel-heading" (click)="opt.showMenu = !opt.showMenu">
    <span [class.down]="!opt.showMenu" [class.up]="opt.showMenu"></span> {{opt.title}}
  </div>
  <div class="panel-body" [class.hide]="!opt.showMenu">
    <div class="checkbox">
      <label>
        <input type=checkbox #v (change)="refresh(opt.show.global = v.checked)" [checked]=opt.show.global> Use global option visibility? {{theme.global.show.value}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type=checkbox #g (change)="refresh(opt.show.value = g.checked)" [checked]=opt.show.value [disabled]=opt.show.global> Show?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type=checkbox #i (change)="refresh(opt.dot.radius.global = i.checked)" [checked]=opt.dot.radius.global> Use global dot radius? {{theme.global.dot.radius.value}}
      </label>
    </div>
    <div class="form-group row">
      <div class=col-xs-5>Dot Radius: {{opt.dot.radius.value}}</div>
      <div class=col-xs-7>
        <input #j (input)="refresh(opt.dot.radius.value = j.value)" [value]=opt.dot.radius.value [disabled]=opt.dot.radius.global type=range min=1 max=20 step=1 class=form-control>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type=checkbox #k (change)="refresh(opt.dot.color.global = k.checked)" [checked]=opt.dot.color.global> Use global dot color? {{theme.global.dot.color.value.rgba}}
      </label>
    </div>
    <div class=form-group>
      <color [color]="opt.dot.color.value" (refreshed)="refresh(opt.dot.color.value = $event)" [title]="'Dot Color'" [disabled]=opt.dot.color.global></color>
    </div>

    <div class="checkbox">
      <label>
        <input type=checkbox #s (change)="refresh(opt.segment.show.global = s.checked)" [checked]=opt.segment.show.global> Use global segment visibility? {{theme.global.segment.show.value}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type=checkbox #t (change)="refresh(opt.segment.show.value = t.checked)" [checked]=opt.segment.show.value [disabled]=opt.segment.show.global> Show?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type=checkbox #q (change)="refresh(opt.segment.angle.global = q.checked)" [checked]=opt.segment.angle.global> Use global angle? {{theme.global.segment.angle.value}}
      </label>
    </div>
    <div class="form-group row">
      <div class=col-xs-5>Segment Width Angle: {{opt.segment.angle.value}}</div>
      <div class=col-xs-7>
        <input #r (input)="refresh(opt.segment.angle.value = r.value)" [value]=opt.segment.angle.value [disabled]=opt.segment.angle.global type=range min=1 max=90 step=1 class=form-control>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type=checkbox #m (change)="refresh(opt.segment.padding.global = m.checked)" [checked]=opt.segment.padding.global> Use global padding? {{theme.global.segment.padding.value}}
      </label>
    </div>
    <div class="form-group row">
      <div class=col-xs-5>Segment Padding: {{opt.segment.padding.value}}</div>
      <div class=col-xs-7>
        <input #n (input)="refresh(opt.segment.padding.value = n.value)" [value]=opt.segment.padding.value [disabled]=opt.segment.padding.global type=range min=1 max=10 step=1 class=form-control>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type=checkbox #o (change)="refresh(opt.segment.color.global = o.checked)" [checked]=opt.segment.color.global> Use global segment color? {{theme.global.segment.color.value.rgba}}
      </label>
    </div>
    <div class=form-group>
      <color [color]="opt.segment.color.value" (refreshed)="refresh(opt.segment.color.value = $event)" [title]="'Segment Color'" [disabled]=opt.segment.color.global></color>
    </div>
  </div>
</div> -->

</div>
