<div class=header>
  <h1>
    <span [ngSwitch]="mode">
      <template [ngSwitchWhen]="ThemeCreatorMode.New">New</template>
      <template [ngSwitchWhen]="ThemeCreatorMode.Edit">Edit</template>
      <template [ngSwitchWhen]="ThemeCreatorMode.Copy">Copy</template>
    </span>
    Theme
  </h1>
  <h2>
    <input type=button value=Save (click)="onSave()">
    <input type=button value=Cancel (click)="onCancel()">
    <input type=button value=Delete (click)="onDelete()" [hidden]="mode !== ThemeCreatorMode.Edit">
  </h2>
</div>
<text-picker
  #tn
  [title]="'Theme Name'"
  [value]="theme.name"
  [class.show]="currentPicker === tn"
  (focus)="currentPicker = tn"
  (cancel)='currentPicker = null'
  (save)="onUpdate(currentPicker = null, theme.name = $event)"></text-picker>
<widget-type-picker
  #wtp
  [type]="theme.widgetType"
  [class.show]="currentPicker === wtp"
  (focus)="currentPicker = wtp"
  (update)="onUpdate(theme.widgetType = $event)"
  (cancel)="onUpdate(currentPicker = null, theme.widgetType = $event)"
  (save)="onUpdate(currentPicker = null, theme.widgetType = $event)"></widget-type-picker>
<default-theme-settings
  #dts
  [default]="theme.globals"
  [class.show]="currentPicker == dts"
  (focus)="currentPicker = dts"
  (update)="onUpdate()"
  (cancel)='currentPicker = null'
  (save)="currentPicker = null"></default-theme-settings>
<boolean-picker
  [title]="'Daylight Visibility'"
  [subtitle]="'Show daylight/cloud coverage?'"
  [value]="theme.daylight"
  (update)="updateDaylight($event)"></boolean-picker>
<color-picker
  #dc
  [class.hide]="!theme.daylight"
  [title]="'Daylight Color'"
  [color]="theme.daylight"
  [showalpha]="false"
  [class.show]="currentPicker === dc"
  (focus)="currentPicker = dc"
  (update)="onUpdate(theme.daylight = $event)"
  (cancel)="onUpdate(currentPicker = null, theme.daylight = $event)"
  (save)="onUpdate(currentPicker = null, theme.daylight = $event)"></color-picker>
<weather-property-picker
  #wpp
  class=prefContainer
  [class.show]="currentPicker === wpp"
  [properties]="theme.options"
  (focus)="currentPicker = wpp"
  (update)="onUpdate($event)"
  (cancel)="currentPicker = null"
  (save)="currentPicker = null"></weather-property-picker>
<weather-property-settings
  *ngFor="#p of theme.options"
  [title]="p.title"
  [default]="theme.globals"
  [property]="p"
  [class.show]="currentPicker === p"
  (focus)="currentPicker = p"
  (update)="onUpdate($event)"
  (cancel)="currentPicker = null"
  (save)="currentPicker = null"></weather-property-settings>
