:host {
  display: block;
}/*
:host > * {
  transition: transform .5s .5s ease-out;
  background: #fff;
}
:host.hide > * {
  transform: translateX(-100%);
  transition: transform .5s 0s ease-out;
}
:host > * > header {
  height: 100%;
  overflow: hidden;
  transition: height 0s .5s ease-out;
}
:host.hide > * > header {
  height: 0;
  transition: height 0s .5s ease-out;
}
:host > * > div {
  height: 0;
  overflow: hidden;
  transition: transform ease-out .5s 0s, height 0s .5s ease-out;
}
:host > *.show > div {
  height: 100%;
  transform: translateX(100%);
  transition: transform .5s .5s ease-out, height 0s .5s ease-out;
}*/
